
.new-div {
    flex-grow: 1; /* Ocupa todo o espaço disponível na linha */
    margin-left: 5%;
    margin-right: 5%;
    height: 26.74%;
    margin-top: 1%;
}
.home-content {
    width: 100%;
    height: 100%;
}
.home-button {
    width: calc(50% - 2px); /* Alterado de 50% para 45% */
    height: 100%;
    border-radius: 0px;
    border-width: 1px;
    box-shadow: none;
    border-color: #54b6f3;
    background-color: #56beff;
    margin-top: 0px;
    margin-right: 0%; /* Nova margem entre os botões */
    border-radius: 20px;
    font-size: 170%;
    font-weight: bold;
    color: white;

    text-align: center;
    vertical-align: middle;
    line-height: normal;
    padding-top: 20px; /* Adicionado para espaçar o conteúdo do topo */
    padding-bottom: 20px; /* Adicionado para espaçar o conteúdo do fundo */
    box-sizing: border-box;
}

.home-button:hover {
    background-color: #86cbf6;
}

#addPacient-button{
    width: 100%;
    margin-top: 0%;
}
.home-button img{
    width: 40px; /* Defina o tamanho do ícone conforme necessário */
    height: 40px; /* Defina o tamanho do ícone conforme necessário */
    display: block; /* Faz com que a imagem seja exibida como um bloco separado */
    margin: 0 auto 10px auto;
}