html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Garantir que html e body ocupem 100% da altura */
    background-color: #fffafa;
}

body {
    display: flex;
    flex-direction: column; /* Organizar os elementos verticalmente */
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    height: 100%; /* Sidebar ocupa 100% da altura do body */
    position: fixed; /* Fixar a posição da sidebar */
}

.top {
    height: 10vh;
    width: calc(100% - 250px); /* Largura restante */
    margin-left: 250px; /* Compensar a largura da sidebar */
    background-color: #ccc; /* Apenas para visualização */
}

.content {
    display: flex;
    flex-grow: 1; /* Ocupar o restante do espaço disponível */
    margin-left: 250px; /* Compensar a largura da sidebar */
    overflow: auto;
    flex-direction: column;
    height: 100vh;
    margin-top: 5%;
}
.sidebar-button{
    display: block;
    height: 30px;
    width: 180px;
    border: none;
    text-align: left;
    margin-left: 30px;
    background-color: white;
    margin-top: 10px;
}
.sidebar-button:hover, .logout-button:hover {
    background-color: #f6f6f6; /* Cor do botão ao passar o mouse */
    color: #000000; /* Cor do texto ao passar o mouse */
    border-radius: 5px;
}
.logout-button {
    position: absolute;
    bottom: 10px;
    text-align: left;
    margin-left: 30px;
    border: none;
    background: none; /* Remover background se necessário */

    align-items: center;
}

.sidebar-button img, .logout-button img {
    width: 20px; /* Defina o tamanho do ícone conforme necessário */
    height: 20px; /* Defina o tamanho do ícone conforme necessário */
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    position: relative;
    top: 5px;
}

.sobrevidas-logo{
    margin-top: calc(5vh - 10px);
    display: block;
    height: 20px;
    margin-bottom: 9vh;
    text-align: center;
    font-size: 24px;
    font-weight: bold
}

