body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/login-background.png') no-repeat center top;
    background-size: 100% 80%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 251, 251); /* Cor de fundo cinza com opacidade */
    height: 50px; /* Defina a altura desejada */
    padding: 80px; /* Reduza o preenchimento interno */
    border-radius: 10px; /* Opcional: bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    width: 300px
}
.input-text {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #666; 
    margin-bottom: 2px; 
}

.form-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    flex-direction: column;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 135%;
    margin-top: 90px;
}
#form-login input[type="text"],
#form-login input[type="password"] {
    padding: 15px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
}
.button-container {
    width: 150%;
}

.button {
    padding: 15px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Tamanho igual ao dos inputs */
    margin-top: 15px; /* Adiciona uma margem superior para empurrar o botão para baixo */
}


